# this can (and should) be changed to different id depending on the experiment area, but it has to be UTM projection id!
srid: 32633
path_to_map_tiles: "maptiles"
map_edges_filepath: "data/edges.geojson"
map_nodes_filepath: "data/nodes.geojson"
path_to_serialized_graph: "data/serialized/graph"
#osm_tile_server: "a.tile.openstreetmap.org"
osm_tile_server: "cartodb-basemaps-c.global.ssl.fastly.net/light_all"
# http[s]://cartodb-basemaps-c.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png
#leave empty to save recordings and screens in the directory where the JVM is started
path_to_save_recordings: ""
debug: true

# 40 km/h
#max_vehicle_speed_in_meters: 11
# 144 km/h
max_vehicle_speed_in_meters: 40


# 24 h
simulation_duration:
{
	days: 1
	hours: 0
	minutes: 0
	seconds: 0
}

skip_simulation: false
log4j_xml_dir: ""

visio:
{
	show_visio: true
	min_entity_zoom: 3.0
	show_stacked_entities: true
	min_zoom_to_show_stack_entities_count: 0.1
}

congestion_model:
{
	on: false
	fundamental_diagram_delay: false

	# flow in meters of vehicle per second
	# (speed 25km/h)
	max_flow_per_lane: 7.0
	
	# vehicle batch size in meters
	batch_size: 20
	random_seed: 117
	
	# (average between left and straight/right)
	default_crossroad_driving_lanes: 3
}
